<% if current_user %>
<div class="current-user">
  <span>Welcome, <%= current_user.username %>!</span>
  <span>How about heading over to checkout some <%= link_to " books", "/" %>?</span>
</div>
<% else %>
<div class="page-header">
  <h1>Login</h1>
</div>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_for :session, :url => '/login', :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Login', :class => 'btn btn-primary' %>
  </div>
  <% end %>
  <div class="register-linkto">
    <span>Not a member?</span>
    <span><%= link_to " Register ", "/register" %> now for free!</span>
<% end %>
