<article class="user">
  <header>
    <%= link_to 'Visit', user %>
    <% if user.avatar.present? %>
    <%= image_tag user.avatar %>
    <% else %>
    <a class="navbar-brand"><img style="max-height: 150px; padding-top: -5px; padding-bottom: 8px;" alt="default profile" src="default-profile.png" ></a>
    <% end %>
  </header>
  <div class="user-details">
  <h4><%= user.username %></h4>
  <p class="location">
    In <%= user.city %>, <%= user.province %>
  </p>
  <p class="friendship">
    <%= link_to "Befriend" %>
  </p>
</div>
</article>
