<article class="user">
  <header>
    <%= link_to 'Visit', user %>
    <% if user.avatar.present? %>
    <%= image_tag user.avatar %>
    <% else %>
    <%= image_tag("default-profile.png", :style => "max-height: 150px") %>
    <% end %>
  </header>
  <div class="user-details">
  <h4><%= user.username %></h4>
  <p class="location">
    In <%= user.city %>, <%= user.province %>
  </p>
  <p class="friendship">
    <%= link_to "Befriend" %>
  </p>
</div>
</article>
