<h1>Registration</h1>

<%= form_for :user, link_to "register", new_user_registration_path do |form| %>

  Username: <%= form.text_field :username %>
  Email: <%= form.text_field :email %>
  Password: <%= form.password_field :password %>
  Confirm Password: <%= form.password_field :password %>
  <%= form.submit "Submit" %>

  <% end %>
