<section class="users-profile">
  <header class="page-header">
    <h3><%= @user.username %> </h3>
  </header>
  <article class="user-detail">
    <div class="row">
      <div class="col-sm-4">
        <% if @user.avatar.present? %>
        <%= image_tag @user.avatar %>
        <% else %>
        <%= image_tag("default-profile.png", :style => "max-height: 100px;")%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Bookclubs</dt>
          <dd>Invite this user to a bookclub</dd>
          <dt><a href="/:id/wishlist">Wishlist</a></dt>
          <dd></dd>
          <dt>Bookshelf</dt>
          <dd>This user's bookshelf is empty</dd>
          <dt><a href="/:id/favourites">Favourites</a></dt>
          <dd></dd>
        </dl>
      </div>
      <div class="col-sm-8">
        <dl class="dl-vertical">
          <dd><%= @user.username %></dd>
          <dd><%= @user.city %>, <%= @user.province%></dd>
        </dl>
        <% if current_user.id == @user.id %>
          <div><%=link_to "Edit ", ":id/edit" %> your profile</div>
        <% end %>
      </div>
    </article>
    <h4> Go back to <%= link_to ' all users', '/users' %> </h4>
  </section>
