<div id="wrapper">
  <div id="columns">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div>
    <h1 class="page-header">Search by genre</h1>
        <%= form_tag books_path, method: "get", html: { class: "form" } do %>
     <div class="form-group col-xs-4">
       <%= text_field_tag(:subject, "", class: "form-control") %>
     </div>
     <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
      </div>
      <br>
      <br>
    <div>
    <h1>New and Noteworthy</h1>
  <% @newest_books.each do |book| %>
    <article class="pin">
      <img src="<%= book.image_link(:zoom => 5) %>" />
        <h4 class="title"><%= book.title %></h4>
         <p>by <%= book.authors %></p>
        <p class="cat"><%= book.publisher %> <%= book.categories %></p>
        <%= link_to "Add to Favorites" %>
        <br>
        <%= link_to "Add to Wishlist" %>
      </article>
     <% end %>
    </div>
  </div>
</div>
